@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding-top: 30px;
  font-family: 'Roboto Mono', monospace;
}

.container {
  background-color: white;
  margin: auto;
  max-width: 400px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.137);
}